[Unit]
Description=Backs up .config directory to a Git repository
OnFailure=notify-failure@%n.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/peng/.config/scripts/dotfiles-backup.sh
