[Unit]
Description=Run network-logger.service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=network-logger.service

[Install]
WantedBy=timers.target
