[Unit]
Description=Send a notification to relax eyes
Wants=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send '放松一下眼睛！' '看看远处，休息一下。'
