[Unit]
Description=Change wallpaper periodically
Wants=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/peng/.config/niri/scripts/rotate-wallpaper-once.sh
