[Unit]
Description=Run rotate-wallpaper.service every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Unit=rotate-wallpaper.service

[Install]
WantedBy=timers.target
