[Unit]
Description=Run network speed test periodically

[Timer]
# 每4小时运行一次
OnCalendar=*-*-* 0/4:00:00
Persistent=true

[Install]
WantedBy=timers.target
