$palette-content-background: #14140c;
$palette-content-error: #ffb4ab;
$palette-content-error-container: #93000a;
$palette-content-inverse-on-surface: #313128;
$palette-content-inverse-primary: #5f6200;
$palette-content-inverse-surface: #e5e3d6;
$palette-content-on-background: #e5e3d6;
$palette-content-on-error: #690005;
$palette-content-on-error-container: #ffdad6;
$palette-content-on-primary: #313300;
$palette-content-on-primary-container: #171800;
$palette-content-on-primary-fixed: #1c1d00;
$palette-content-on-primary-fixed-variant: #474a00;
$palette-content-on-secondary: #31320a;
$palette-content-on-secondary-container: #e7e7af;
$palette-content-on-secondary-fixed: #1c1d00;
$palette-content-on-secondary-fixed-variant: #48491f;
$palette-content-on-surface: #e5e3d6;
$palette-content-on-surface-variant: #c9c7b2;
$palette-content-on-tertiary: #00390b;
$palette-content-on-tertiary-container: #001c03;
$palette-content-on-tertiary-fixed: #002204;
$palette-content-on-tertiary-fixed-variant: #075316;
$palette-content-outline: #93927e;
$palette-content-outline-variant: #484837;
$palette-content-primary: #c9cd5a;
$palette-content-primary-container: #a4a839;
$palette-content-primary-fixed: #e5e972;
$palette-content-primary-fixed-dim: #c9cd5a;
$palette-content-scrim: #000000;
$palette-content-secondary: #c9ca94;
$palette-content-secondary-container: #4a4b21;
$palette-content-secondary-fixed: #e5e6ae;
$palette-content-secondary-fixed-dim: #c9ca94;
$palette-content-shadow: #000000;
$palette-content-surface: #14140c;
$palette-content-surface-bright: #3a3a31;
$palette-content-surface-container: #202018;
$palette-content-surface-container-high: #2b2a22;
$palette-content-surface-container-highest: #36352c;
$palette-content-surface-container-low: #1c1c14;
$palette-content-surface-container-lowest: #0e0f08;
$palette-content-surface-dim: #14140c;
$palette-content-surface-tint: #c9cd5a;
$palette-content-surface-variant: #484837;
$palette-content-tertiary: #90d88a;
$palette-content-tertiary-container: #6cb269;
$palette-content-tertiary-fixed: #abf4a4;
$palette-content-tertiary-fixed-dim: #90d88a;
$palette-expressive-background: #11140b;
$palette-expressive-error: #ffb4ab;
$palette-expressive-error-container: #93000a;
$palette-expressive-inverse-on-surface: #2e3227;
$palette-expressive-inverse-primary: #8d4769;
$palette-expressive-inverse-surface: #e2e4d4;
$palette-expressive-on-background: #e2e4d4;
$palette-expressive-on-error: #690005;
$palette-expressive-on-error-container: #ffdad6;
$palette-expressive-on-primary: #56193a;
$palette-expressive-on-primary-container: #ffd8e6;
$palette-expressive-on-primary-fixed: #3b0324;
$palette-expressive-on-primary-fixed-variant: #713051;
$palette-expressive-on-secondary: #153723;
$palette-expressive-on-secondary-container: #c5ecce;
$palette-expressive-on-secondary-fixed: #00210f;
$palette-expressive-on-secondary-fixed-variant: #2c4e38;
$palette-expressive-on-surface: #e2e4d4;
$palette-expressive-on-surface-variant: #c3c9b2;
$palette-expressive-on-tertiary: #203608;
$palette-expressive-on-tertiary-container: #cfecac;
$palette-expressive-on-tertiary-fixed: #0e2000;
$palette-expressive-on-tertiary-fixed-variant: #364d1e;
$palette-expressive-outline: #8d937e;
$palette-expressive-outline-variant: #434937;
$palette-expressive-primary: #ffafd1;
$palette-expressive-primary-container: #713051;
$palette-expressive-primary-fixed: #ffd8e6;
$palette-expressive-primary-fixed-dim: #ffafd1;
$palette-expressive-scrim: #000000;
$palette-expressive-secondary: #a9d0b3;
$palette-expressive-secondary-container: #2c4e38;
$palette-expressive-secondary-fixed: #c5ecce;
$palette-expressive-secondary-fixed-dim: #a9d0b3;
$palette-expressive-shadow: #000000;
$palette-expressive-surface: #11140b;
$palette-expressive-surface-bright: #373a30;
$palette-expressive-surface-container: #1e2117;
$palette-expressive-surface-container-high: #282b21;
$palette-expressive-surface-container-highest: #33362b;
$palette-expressive-surface-container-low: #1a1d13;
$palette-expressive-surface-container-lowest: #0c0f07;
$palette-expressive-surface-dim: #11140b;
$palette-expressive-surface-tint: #ffafd1;
$palette-expressive-surface-variant: #434937;
$palette-expressive-tertiary: #b3d092;
$palette-expressive-tertiary-container: #364d1e;
$palette-expressive-tertiary-fixed: #cfecac;
$palette-expressive-tertiary-fixed-dim: #b3d092;
$palette-fidelity-background: #14140c;
$palette-fidelity-error: #ffb4ab;
$palette-fidelity-error-container: #93000a;
$palette-fidelity-inverse-on-surface: #313128;
$palette-fidelity-inverse-primary: #5f6200;
$palette-fidelity-inverse-surface: #e5e3d6;
$palette-fidelity-on-background: #e5e3d6;
$palette-fidelity-on-error: #690005;
$palette-fidelity-on-error-container: #ffdad6;
$palette-fidelity-on-primary: #313300;
$palette-fidelity-on-primary-container: #171800;
$palette-fidelity-on-primary-fixed: #1c1d00;
$palette-fidelity-on-primary-fixed-variant: #474a00;
$palette-fidelity-on-secondary: #31320a;
$palette-fidelity-on-secondary-container: #e7e7af;
$palette-fidelity-on-secondary-fixed: #1c1d00;
$palette-fidelity-on-secondary-fixed-variant: #48491f;
$palette-fidelity-on-surface: #e5e3d6;
$palette-fidelity-on-surface-variant: #c9c7b2;
$palette-fidelity-on-tertiary: #441a6a;
$palette-fidelity-on-tertiary-container: #250045;
$palette-fidelity-on-tertiary-fixed: #2c0050;
$palette-fidelity-on-tertiary-fixed-variant: #5c3383;
$palette-fidelity-outline: #93927e;
$palette-fidelity-outline-variant: #484837;
$palette-fidelity-primary: #c9cd5a;
$palette-fidelity-primary-container: #a4a839;
$palette-fidelity-primary-fixed: #e5e972;
$palette-fidelity-primary-fixed-dim: #c9cd5a;
$palette-fidelity-scrim: #000000;
$palette-fidelity-secondary: #c9ca94;
$palette-fidelity-secondary-container: #4a4b21;
$palette-fidelity-secondary-fixed: #e5e6ae;
$palette-fidelity-secondary-fixed-dim: #c9ca94;
$palette-fidelity-shadow: #000000;
$palette-fidelity-surface: #14140c;
$palette-fidelity-surface-bright: #3a3a31;
$palette-fidelity-surface-container: #202018;
$palette-fidelity-surface-container-high: #2b2a22;
$palette-fidelity-surface-container-highest: #36352c;
$palette-fidelity-surface-container-low: #1c1c14;
$palette-fidelity-surface-container-lowest: #0e0f08;
$palette-fidelity-surface-dim: #14140c;
$palette-fidelity-surface-tint: #c9cd5a;
$palette-fidelity-surface-variant: #484837;
$palette-fidelity-tertiary: #ddb7ff;
$palette-fidelity-tertiary-container: #bc8fe6;
$palette-fidelity-tertiary-fixed: #f0dbff;
$palette-fidelity-tertiary-fixed-dim: #ddb7ff;
$palette-fruit-salad-background: #141407;
$palette-fruit-salad-error: #ffb4ab;
$palette-fruit-salad-error-container: #93000a;
$palette-fruit-salad-inverse-on-surface: #313122;
$palette-fruit-salad-inverse-primary: #8c5000;
$palette-fruit-salad-inverse-surface: #e5e3cd;
$palette-fruit-salad-on-background: #e5e3cd;
$palette-fruit-salad-on-error: #690005;
$palette-fruit-salad-on-error-container: #ffdad6;
$palette-fruit-salad-on-primary: #4a2800;
$palette-fruit-salad-on-primary-container: #ffdcbf;
$palette-fruit-salad-on-primary-fixed: #2d1600;
$palette-fruit-salad-on-primary-fixed-variant: #6a3b00;
$palette-fruit-salad-on-secondary: #4a2800;
$palette-fruit-salad-on-secondary-container: #ffdcbf;
$palette-fruit-salad-on-secondary-fixed: #2d1600;
$palette-fruit-salad-on-secondary-fixed-variant: #6a3c01;
$palette-fruit-salad-on-surface: #e5e3cd;
$palette-fruit-salad-on-surface-variant: #c9c8a5;
$palette-fruit-salad-on-tertiary: #313300;
$palette-fruit-salad-on-tertiary-container: #e5e891;
$palette-fruit-salad-on-tertiary-fixed: #1c1d00;
$palette-fruit-salad-on-tertiary-fixed-variant: #474a01;
$palette-fruit-salad-outline: #939372;
$palette-fruit-salad-outline-variant: #48482d;
$palette-fruit-salad-primary: #ffb873;
$palette-fruit-salad-primary-container: #6a3b00;
$palette-fruit-salad-primary-fixed: #ffdcbf;
$palette-fruit-salad-primary-fixed-dim: #ffb873;
$palette-fruit-salad-scrim: #000000;
$palette-fruit-salad-secondary: #fdb876;
$palette-fruit-salad-secondary-container: #6a3c01;
$palette-fruit-salad-secondary-fixed: #ffdcbf;
$palette-fruit-salad-secondary-fixed-dim: #fdb876;
$palette-fruit-salad-shadow: #000000;
$palette-fruit-salad-surface: #141407;
$palette-fruit-salad-surface-bright: #3a3a2a;
$palette-fruit-salad-surface-container: #202012;
$palette-fruit-salad-surface-container-high: #2b2b1c;
$palette-fruit-salad-surface-container-highest: #353626;
$palette-fruit-salad-surface-container-low: #1c1c0f;
$palette-fruit-salad-surface-container-lowest: #0e0f04;
$palette-fruit-salad-surface-dim: #141407;
$palette-fruit-salad-surface-tint: #ffb873;
$palette-fruit-salad-surface-variant: #48482d;
$palette-fruit-salad-tertiary: #c9cb78;
$palette-fruit-salad-tertiary-container: #474a01;
$palette-fruit-salad-tertiary-fixed: #e5e891;
$palette-fruit-salad-tertiary-fixed-dim: #c9cb78;
$palette-monochrome-background: #131313;
$palette-monochrome-error: #ffb4ab;
$palette-monochrome-error-container: #93000a;
$palette-monochrome-inverse-on-surface: #303030;
$palette-monochrome-inverse-primary: #5e5e5e;
$palette-monochrome-inverse-surface: #e2e2e2;
$palette-monochrome-on-background: #e2e2e2;
$palette-monochrome-on-error: #690005;
$palette-monochrome-on-error-container: #ffdad6;
$palette-monochrome-on-primary: #1b1b1b;
$palette-monochrome-on-primary-container: #000000;
$palette-monochrome-on-primary-fixed: #ffffff;
$palette-monochrome-on-primary-fixed-variant: #e2e2e2;
$palette-monochrome-on-secondary: #1b1b1b;
$palette-monochrome-on-secondary-container: #e2e2e2;
$palette-monochrome-on-secondary-fixed: #1b1b1b;
$palette-monochrome-on-secondary-fixed-variant: #3b3b3b;
$palette-monochrome-on-surface: #e2e2e2;
$palette-monochrome-on-surface-variant: #c6c6c6;
$palette-monochrome-on-tertiary: #1b1b1b;
$palette-monochrome-on-tertiary-container: #000000;
$palette-monochrome-on-tertiary-fixed: #ffffff;
$palette-monochrome-on-tertiary-fixed-variant: #e2e2e2;
$palette-monochrome-outline: #919191;
$palette-monochrome-outline-variant: #474747;
$palette-monochrome-primary: #ffffff;
$palette-monochrome-primary-container: #d4d4d4;
$palette-monochrome-primary-fixed: #5e5e5e;
$palette-monochrome-primary-fixed-dim: #474747;
$palette-monochrome-scrim: #000000;
$palette-monochrome-secondary: #c6c6c6;
$palette-monochrome-secondary-container: #474747;
$palette-monochrome-secondary-fixed: #c6c6c6;
$palette-monochrome-secondary-fixed-dim: #ababab;
$palette-monochrome-shadow: #000000;
$palette-monochrome-surface: #131313;
$palette-monochrome-surface-bright: #393939;
$palette-monochrome-surface-container: #1f1f1f;
$palette-monochrome-surface-container-high: #2a2a2a;
$palette-monochrome-surface-container-highest: #353535;
$palette-monochrome-surface-container-low: #1b1b1b;
$palette-monochrome-surface-container-lowest: #0e0e0e;
$palette-monochrome-surface-dim: #131313;
$palette-monochrome-surface-tint: #c6c6c6;
$palette-monochrome-surface-variant: #474747;
$palette-monochrome-tertiary: #e2e2e2;
$palette-monochrome-tertiary-container: #919191;
$palette-monochrome-tertiary-fixed: #5e5e5e;
$palette-monochrome-tertiary-fixed-dim: #474747;
$palette-neutral-background: #141311;
$palette-neutral-error: #ffb4ab;
$palette-neutral-error-container: #93000a;
$palette-neutral-inverse-on-surface: #31302e;
$palette-neutral-inverse-primary: #60604a;
$palette-neutral-inverse-surface: #e5e2dd;
$palette-neutral-on-background: #e5e2dd;
$palette-neutral-on-error: #690005;
$palette-neutral-on-error-container: #ffdad6;
$palette-neutral-on-primary: #31311f;
$palette-neutral-on-primary-container: #e5e4c9;
$palette-neutral-on-primary-fixed: #1c1d0c;
$palette-neutral-on-primary-fixed-variant: #484834;
$palette-neutral-on-secondary: #313125;
$palette-neutral-on-secondary-container: #e5e3d1;
$palette-neutral-on-secondary-fixed: #1c1c11;
$palette-neutral-on-secondary-fixed-variant: #48473b;
$palette-neutral-on-surface: #e5e2dd;
$palette-neutral-on-surface-variant: #c9c6c2;
$palette-neutral-on-tertiary: #313219;
$palette-neutral-on-tertiary-container: #e5e5c0;
$palette-neutral-on-tertiary-fixed: #1c1d06;
$palette-neutral-on-tertiary-fixed-variant: #48482d;
$palette-neutral-outline: #93908d;
$palette-neutral-outline-variant: #484744;
$palette-neutral-primary: #c9c8ae;
$palette-neutral-primary-container: #484834;
$palette-neutral-primary-fixed: #e5e4c9;
$palette-neutral-primary-fixed-dim: #c9c8ae;
$palette-neutral-scrim: #000000;
$palette-neutral-secondary: #c9c7b6;
$palette-neutral-secondary-container: #48473b;
$palette-neutral-secondary-fixed: #e5e3d1;
$palette-neutral-secondary-fixed-dim: #c9c7b6;
$palette-neutral-shadow: #000000;
$palette-neutral-surface: #141311;
$palette-neutral-surface-bright: #3a3936;
$palette-neutral-surface-container: #20201d;
$palette-neutral-surface-container-high: #2b2a27;
$palette-neutral-surface-container-highest: #363532;
$palette-neutral-surface-container-low: #1c1c19;
$palette-neutral-surface-container-lowest: #0e0e0c;
$palette-neutral-surface-dim: #141311;
$palette-neutral-surface-tint: #c9c8ae;
$palette-neutral-surface-variant: #484744;
$palette-neutral-tertiary: #c9c8a5;
$palette-neutral-tertiary-container: #48482d;
$palette-neutral-tertiary-fixed: #e5e5c0;
$palette-neutral-tertiary-fixed-dim: #c9c8a5;
$palette-rainbow-background: #131313;
$palette-rainbow-error: #ffb4ab;
$palette-rainbow-error-container: #93000a;
$palette-rainbow-inverse-on-surface: #303030;
$palette-rainbow-inverse-primary: #5f6200;
$palette-rainbow-inverse-surface: #e2e2e2;
$palette-rainbow-on-background: #e2e2e2;
$palette-rainbow-on-error: #690005;
$palette-rainbow-on-error-container: #ffdad6;
$palette-rainbow-on-primary: #313300;
$palette-rainbow-on-primary-container: #e5e972;
$palette-rainbow-on-primary-fixed: #1c1d00;
$palette-rainbow-on-primary-fixed-variant: #474a00;
$palette-rainbow-on-secondary: #313219;
$palette-rainbow-on-secondary-container: #e5e5c0;
$palette-rainbow-on-secondary-fixed: #1c1d06;
$palette-rainbow-on-secondary-fixed-variant: #48482d;
$palette-rainbow-on-surface: #e2e2e2;
$palette-rainbow-on-surface-variant: #c6c6c6;
$palette-rainbow-on-tertiary: #09372b;
$palette-rainbow-on-tertiary-container: #bfecda;
$palette-rainbow-on-tertiary-fixed: #002117;
$palette-rainbow-on-tertiary-fixed-variant: #244e41;
$palette-rainbow-outline: #919191;
$palette-rainbow-outline-variant: #474747;
$palette-rainbow-primary: #c9cd59;
$palette-rainbow-primary-container: #474a00;
$palette-rainbow-primary-fixed: #e5e972;
$palette-rainbow-primary-fixed-dim: #c9cd59;
$palette-rainbow-scrim: #000000;
$palette-rainbow-secondary: #c9c8a5;
$palette-rainbow-secondary-container: #48482d;
$palette-rainbow-secondary-fixed: #e5e5c0;
$palette-rainbow-secondary-fixed-dim: #c9c8a5;
$palette-rainbow-shadow: #000000;
$palette-rainbow-surface: #131313;
$palette-rainbow-surface-bright: #393939;
$palette-rainbow-surface-container: #1f1f1f;
$palette-rainbow-surface-container-high: #2a2a2a;
$palette-rainbow-surface-container-highest: #353535;
$palette-rainbow-surface-container-low: #1b1b1b;
$palette-rainbow-surface-container-lowest: #0e0e0e;
$palette-rainbow-surface-dim: #131313;
$palette-rainbow-surface-tint: #c9cd59;
$palette-rainbow-surface-variant: #474747;
$palette-rainbow-tertiary: #a3d0be;
$palette-rainbow-tertiary-container: #244e41;
$palette-rainbow-tertiary-fixed: #bfecda;
$palette-rainbow-tertiary-fixed-dim: #a3d0be;
$palette-tonal-spot-background: #14140c;
$palette-tonal-spot-error: #ffb4ab;
$palette-tonal-spot-error-container: #93000a;
$palette-tonal-spot-inverse-on-surface: #313128;
$palette-tonal-spot-inverse-primary: #5f621a;
$palette-tonal-spot-inverse-surface: #e5e3d6;
$palette-tonal-spot-on-background: #e5e3d6;
$palette-tonal-spot-on-error: #690005;
$palette-tonal-spot-on-error-container: #ffdad6;
$palette-tonal-spot-on-primary: #313300;
$palette-tonal-spot-on-primary-container: #e5e891;
$palette-tonal-spot-on-primary-fixed: #1c1d00;
$palette-tonal-spot-on-primary-fixed-variant: #474a01;
$palette-tonal-spot-on-secondary: #313219;
$palette-tonal-spot-on-secondary-container: #e5e5c0;
$palette-tonal-spot-on-secondary-fixed: #1c1d06;
$palette-tonal-spot-on-secondary-fixed-variant: #48482d;
$palette-tonal-spot-on-surface: #e5e3d6;
$palette-tonal-spot-on-surface-variant: #c9c7b6;
$palette-tonal-spot-on-tertiary: #09372b;
$palette-tonal-spot-on-tertiary-container: #bfecda;
$palette-tonal-spot-on-tertiary-fixed: #002117;
$palette-tonal-spot-on-tertiary-fixed-variant: #244e41;
$palette-tonal-spot-outline: #939182;
$palette-tonal-spot-outline-variant: #48473b;
$palette-tonal-spot-primary: #c9cb78;
$palette-tonal-spot-primary-container: #474a01;
$palette-tonal-spot-primary-fixed: #e5e891;
$palette-tonal-spot-primary-fixed-dim: #c9cb78;
$palette-tonal-spot-scrim: #000000;
$palette-tonal-spot-secondary: #c9c8a5;
$palette-tonal-spot-secondary-container: #48482d;
$palette-tonal-spot-secondary-fixed: #e5e5c0;
$palette-tonal-spot-secondary-fixed-dim: #c9c8a5;
$palette-tonal-spot-shadow: #000000;
$palette-tonal-spot-surface: #14140c;
$palette-tonal-spot-surface-bright: #3a3a31;
$palette-tonal-spot-surface-container: #202018;
$palette-tonal-spot-surface-container-high: #2b2a22;
$palette-tonal-spot-surface-container-highest: #36352c;
$palette-tonal-spot-surface-container-low: #1c1c14;
$palette-tonal-spot-surface-container-lowest: #0e0f08;
$palette-tonal-spot-surface-dim: #14140c;
$palette-tonal-spot-surface-tint: #c9cb78;
$palette-tonal-spot-surface-variant: #48473b;
$palette-tonal-spot-tertiary: #a3d0be;
$palette-tonal-spot-tertiary-container: #244e41;
$palette-tonal-spot-tertiary-fixed: #bfecda;
$palette-tonal-spot-tertiary-fixed-dim: #a3d0be;
$theme-light-background: #fdf9ec;
$theme-light-error: #ba1a1a;
$theme-light-error-container: #ffdad6;
$theme-light-inverse-on-surface: #f4f1e4;
$theme-light-inverse-primary: #c9cb78;
$theme-light-inverse-surface: #313128;
$theme-light-on-background: #1c1c14;
$theme-light-on-error: #ffffff;
$theme-light-on-error-container: #410002;
$theme-light-on-primary: #ffffff;
$theme-light-on-primary-container: #1c1d00;
$theme-light-on-primary-fixed: #1c1d00;
$theme-light-on-primary-fixed-variant: #474a01;
$theme-light-on-secondary: #ffffff;
$theme-light-on-secondary-container: #1c1d06;
$theme-light-on-secondary-fixed: #1c1d06;
$theme-light-on-secondary-fixed-variant: #48482d;
$theme-light-on-surface: #1c1c14;
$theme-light-on-surface-variant: #48473b;
$theme-light-on-tertiary: #ffffff;
$theme-light-on-tertiary-container: #002117;
$theme-light-on-tertiary-fixed: #002117;
$theme-light-on-tertiary-fixed-variant: #244e41;
$theme-light-outline: #797869;
$theme-light-outline-variant: #c9c7b6;
$theme-light-primary: #5f621a;
$theme-light-primary-container: #e5e891;
$theme-light-primary-fixed: #e5e891;
$theme-light-primary-fixed-dim: #c9cb78;
$theme-light-scrim: #000000;
$theme-light-secondary: #606043;
$theme-light-secondary-container: #e5e5c0;
$theme-light-secondary-fixed: #e5e5c0;
$theme-light-secondary-fixed-dim: #c9c8a5;
$theme-light-shadow: #000000;
$theme-light-source-color: #a4a839;
$theme-light-surface: #fdf9ec;
$theme-light-surface-bright: #fdf9ec;
$theme-light-surface-container: #f1eee1;
$theme-light-surface-container-high: #ebe8db;
$theme-light-surface-container-highest: #e5e3d6;
$theme-light-surface-container-low: #f7f4e6;
$theme-light-surface-container-lowest: #ffffff;
$theme-light-surface-dim: #dddacd;
$theme-light-surface-tint: #5f621a;
$theme-light-surface-variant: #e5e3d1;
$theme-light-tertiary: #3d6658;
$theme-light-tertiary-container: #bfecda;
$theme-light-tertiary-fixed: #bfecda;
$theme-light-tertiary-fixed-dim: #a3d0be;
$theme-dark-background: #14140c;
$theme-dark-error: #ffb4ab;
$theme-dark-error-container: #93000a;
$theme-dark-inverse-on-surface: #313128;
$theme-dark-inverse-primary: #5f621a;
$theme-dark-inverse-surface: #e5e3d6;
$theme-dark-on-background: #e5e3d6;
$theme-dark-on-error: #690005;
$theme-dark-on-error-container: #ffdad6;
$theme-dark-on-primary: #313300;
$theme-dark-on-primary-container: #e5e891;
$theme-dark-on-primary-fixed: #1c1d00;
$theme-dark-on-primary-fixed-variant: #474a01;
$theme-dark-on-secondary: #313219;
$theme-dark-on-secondary-container: #e5e5c0;
$theme-dark-on-secondary-fixed: #1c1d06;
$theme-dark-on-secondary-fixed-variant: #48482d;
$theme-dark-on-surface: #e5e3d6;
$theme-dark-on-surface-variant: #c9c7b6;
$theme-dark-on-tertiary: #09372b;
$theme-dark-on-tertiary-container: #bfecda;
$theme-dark-on-tertiary-fixed: #002117;
$theme-dark-on-tertiary-fixed-variant: #244e41;
$theme-dark-outline: #939182;
$theme-dark-outline-variant: #48473b;
$theme-dark-primary: #c9cb78;
$theme-dark-primary-container: #474a01;
$theme-dark-primary-fixed: #e5e891;
$theme-dark-primary-fixed-dim: #c9cb78;
$theme-dark-scrim: #000000;
$theme-dark-secondary: #c9c8a5;
$theme-dark-secondary-container: #48482d;
$theme-dark-secondary-fixed: #e5e5c0;
$theme-dark-secondary-fixed-dim: #c9c8a5;
$theme-dark-shadow: #000000;
$theme-dark-surface: #14140c;
$theme-dark-surface-bright: #3a3a31;
$theme-dark-surface-container: #202018;
$theme-dark-surface-container-high: #2b2a22;
$theme-dark-surface-container-highest: #36352c;
$theme-dark-surface-container-low: #1c1c14;
$theme-dark-surface-container-lowest: #0e0f08;
$theme-dark-surface-dim: #14140c;
$theme-dark-surface-tint: #c9cb78;
$theme-dark-surface-variant: #48473b;
$theme-dark-tertiary: #a3d0be;
$theme-dark-tertiary-container: #244e41;
$theme-dark-tertiary-fixed: #bfecda;
$theme-dark-tertiary-fixed-dim: #a3d0be;
